<footer id="footer" class="bg-dark text-light pt-5 pb-2 mt-3">
  <div class="container">
    <div class="row justify-content-center footer-content">
      <!-- Column 1 -->
      <div class="col yarn">
        <h6 class="fw-bold">Customer Service</h6>
        <ul class="list-unstyled footer-uls">
          <li>
            <a href="#" class="text-white text-decoration-none"
              >Customer Care</a
            >
          </li>
          <li>
            <a href="#" class="text-white text-decoration-none">Shipping</a>
          </li>
          <li>
            <a href="#" class="text-white text-decoration-none"
              >Orders & Payments</a
            >
          </li>
          <li>
            <a href="#" class="text-white text-decoration-none">Returns</a>
          </li>
          <li>
            <a href="#" class="text-white text-decoration-none">FAQ</a>
          </li>
        </ul>
      </div>

      <!-- Column 2 -->
      <div class="col yarn">
        <h6 class="fw-bold">Quick Links</h6>
        <ul class="list-unstyled footer-uls">
          <li>
            <a href="/" class="text-white text-decoration-none">Home</a>
          </li>
          <li>
            <a href="/shopPage" class="text-white text-decoration-none">Shop</a>
          </li>
          <li>
            <a href="/lookbook" class="text-white text-decoration-none"
              >Lookbook</a
            >
          </li>
          <li>
            <a href="/cart" class="text-white text-decoration-none">Cart</a>
          </li>
        </ul>
      </div>

      <!-- Column 3 -->
      <div class="col yarn">
        <h6 class="fw-bold">Policies</h6>

        <ul class="list-unstyled footer-uls">
          <li>
            <a href="#" class="text-white text-decoration-none"
              >Return Policy</a
            >
          </li>
          <li>
            <a href="#" class="text-white text-decoration-none"
              >Refund Policy</a
            >
          </li>
          <li>
            <a href="#" class="text-white text-decoration-none"
              >Exchange Policy</a
            >
          </li>
          <li>
            <a href="#" class="text-white text-decoration-none"
              >Cookie Policy</a
            >
          </li>
          <li>
            <a href="#" class="text-white text-decoration-none"
              >Privacy Policy</a
            >
          </li>
        </ul>
      </div>

      <!-- Column 4 -->
      <div class="col yarn">
        <h6 class="fw-bold">Follow Us</h6>
        <div class="footer-media">
          <a
            href="https://www.instagram.com/sworv_ng?igsh=bnNremZuODRsY2xt&utm_source=qr"
            class="text-white me-2 g-4"
            ><i class="bi bi-instagram"></i>
          </a>
          <a
            href="https://www.tiktok.com/@thisboysomto_xo?_t=ZS-8zfssEYWzDE&_r=1"
            class="text-white me-2"
            ><i class="bi bi-tiktok"></i>
          </a>
          <a href="#" class="text-white me-2"><i class="bi bi-twitter"></i> </a>
        </div>
      </div>
    </div>
  </div>
  <hr class="border-light" />
  <div class="copyright">
    <p>© 2025, SWORV. All rights reserved</p>
  </div>
</footer>

<script src="include.js" defer></script>
