<nav
  class="navbar bg-dark navbar-expand-lg d-flex align-items-center justify-content-between px-3 py-2"
>
  <div class="navbar-brand d-flex align-items-center">
    <a href="/">
      <img src="images/sworv-logo.png" alt="logo" class="logo-img" />
    </a>
  </div>

  <div class="div-nav" id="navbarContent">
    <ul class="navbar-nav nav-ul">
      <li class="nav-item">
        <a href="/homePage" id="homePage" class="fw-bold nav-link">Home</a>
      </li>
      <li class="nav-item">
        <a href="/shopPage" id="shopPage" class="fw-bold nav-link">Shop</a>
      </li>
      <li class="nav-item">
        <a href="/lookbook" id="lookbookPage" class="fw-bold nav-link"
          >Lookbook</a
        >
      </li>
    </ul>
  </div>

  <div id="iconDisplay" class="d-flex align-items-center">
    <!-- <form action="#" class="d-flex" role="search">
      <input
        id="searchInput"
        type="text"
        class="me-2 bg-dark search-input"
        placeholder="Search..."
      />
    </form>

    <i id="searchIcon" class="bi bi-search search-icon"></i> -->

    <div class="cart-icon" id="cartIcon">
      <a href="/cart" class="text-decoration-none">
        <i
          class="bi bi-cart shop-cart-icon text-light d-flex align-items-center"
        ></i>
      </a>

      <span class="bagde" id="bagdeCount">0</span>
    </div>

    <i class="bi bi-list hamburger-icon"></i>
  </div>
</nav>

<script src="include.js" defer></script>
