<div class="sidebar bg-dark">
  <div class="img-wrapper d-flex align-items-center">
    <img src="images/sworv-logo.png" alt="logo" class="logo-img" />
  </div>

  <ul class="text-light text-decoration-none">
    <li class="tabs" id="dashboardPage">
      <a href="/admin-dashboard" class="a text-light text-decoration-none"
        ><i class="bi-box"></i> Products</a
      >
    </li>
    <li class="tabs" id="orderPage">
      <a href="/admin-orders" class="a text-light text-decoration-none"
        ><i class="bi-cart-check"></i> Orders</a
      >
    </li>

    <li class="tabs">
      <a href="/admin-users" class="a text-light text-decoration-none"
        ><i class="bi-person"></i> Users</a
      >
    </li>

    <li class="tabs">
      <a
        href="/admin-products-paid-for"
        class="a text-light text-decoration-none"
        ><i class="bi-check-circle"></i> Paid Orders
      </a>
    </li>

    <li class="tabs">
      <a href="/admin-add-product" class="a text-light text-decoration-none"
        ><i class="bi-plus-square"></i> Add Product</a
      >
    </li>

    <div>
      <hr />

      <li class="tabs">
        <a href="/admin-add-product" class="a text-light text-decoration-none"
          ><i class="bi-box-arrow-right"></i> Logout</a
        >
      </li>
    </div>
  </ul>
</div>
